@model BlockchainSQL.DataObjects.ScriptSummary
@{
    Layout = "";
}

<div style="margin: 20px">
    @if (Model != null) {
        <h5>Locking Script</h5>
        <table class="table table-striped animated fadeIn">
            <tr>
                <td>Class</td>
                <td style="width: 80%">@Model.Class (@Model.Type)</td>
            </tr>
            <tr>
                <td>Size</td>
                <td>@Model.Size bytes</td>
            </tr>
        </table>
        <h6>Instructions</h6>
        <table class="table table-condensed animated fadeIn">
            <thead>
            <tr>
                <th>OpCode</th>
                <th style="width: 80%">Data</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var instruction in Model.Instructions) {
                <tr>
                    <td><span class="opcode" data-toggle="tooltip" data-placement="right" title="@instruction.Description">@instruction.OpCode</span></td>
                    <td><small>@(instruction.DataLE ?? string.Empty)</small></td>
                </tr>
            }
            </tbody>
        </table>
    } else {
        <h5>No script data available in database</h5>
    }
</div>

<script type="text/javascript">
    $(".opcode").tooltip();
</script>
